/* MODAL ALERTA */
.modal-alerta {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-alert-content {
    background-color: white;
    width: 420px;
    height: 200px;
    text-align: center;
    box-sizing: border-box; 
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.contenedor-p {
    flex: 1; /* Esta propiedad permite que el contenedor del mensaje ocupe todo el espacio disponible */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.separador {
    height: 2px;
    background-color: black;
    width: 100%; 
}

.boton-modal {
    cursor: pointer;
    font-weight: bold;
    color: red;
    background-color: white;
    font-size: x-large;
    border: none;
    width: 100%; 
    padding: 10px 0;
}
