/* Formulario */
.modal-crear-lista {
    width: 100%;
    max-width: 500px;
    height: auto; /* Cambiado a altura automática */
    background: #008080;
    border: 4px solid #000000;
    display: flex;
    flex-direction: column; /* Cambiado a columna para colocar títulos encima de campos */
    align-items: center;
    overflow: hidden;
    margin-left: auto;  
}

/* Contenedor del formulario */
.modal-crear-lista .modal-box {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    margin-top: 45px;
}
.modal-box .inter-modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Campos de entrada */
.campo {
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: column; /* Cambiado a columna para colocar título encima del campo */
    align-items: flex-start; /* Alinear elementos a la izquierda */
    margin: 0 auto;
}

.input-box input,
.input-box select {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    color: #000000;
    padding: 0 10px;
}

.campo-cargar-cancion {
    display: flex;
    flex-direction: column; /* Cambiado a columna para colocar título encima del campo */
    align-items: center; /* Alinear elementos a la izquierda */
    text-align: center;
}

.campo-cargar-cancion .bg-white {
    width: auto;
}

.campo-cargar-cancion .bg-white.active {
    height: fit-content;
    margin-left: 5%;
}

.campo-cargar-cancion .seleccionarArchivo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Estilo de validación */
.input-box .validar:valid {
    border: 5px solid #09AA1A;
}

.input-box .validar.active {
    border: 5px solid #FF0000;
}

/* Etiquetas de los campos */
.input-box label {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    font-family: var(--fuente-1);
}

/* Botones del formulario */
.btn-box {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 50px;
}

.btn-box button {
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

/* Botón de subir */
.input-box input .btn-subir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-subir {
    height: 100px;
    width: 50px;
    font-weight: bold;
    background: #fff;
    color: #000000;
    justify-content: center;
    
}

.nombreArchivo {
    display: none;
    font-size: 16px;
    color: #000000;
}
 .btn-box {
    color: #fff;
 }