.header-Encabesado {
  background-color: #006666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid black;
  border-radius: 10px;
  width: calc(100% - 250px);
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: flex-end;
  position: fixed;
  z-index: 2;
  margin-left: 250px;
}

.menu-options {
  position: absolute;
  top: 70px;
  right: 15px;
  background-color: #006666;
  border: 1px solid #ffffff;
  padding: 0px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: scale .8s;
  transform-origin: top;
}

.menu-options button,
.menu-options a {
  font-family: 'roboto';
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  padding: 6px;
}

.menu-options button:hover,
.menu-options a:hover {
  background-color: #dcdcdc71;
}

.btn-header {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.btn-registro {
  background-color: #008080;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 20px;
  width: 150px;
  height: 45px;
  text-align: center;
}

.btn-inicioSesion {
  background-color: #008080;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 20px;
  width: 150px;
  height: 45px;
  text-align: center;
}

.btn-header:hover {
  background-color: #66b2b2;
}