.header {
    background-color: #008080;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    justify-content: flex-end; /* Alinea el botón a la derecha */
  }