.reproductorMusica {
  background-color: #006666;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 89px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  border-top: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.detalles-musica {
  position: relative;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.detalles-musica span {
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
  height: 80%;
}

.controls span {
  font-weight: 700;
}

.boton-control {
  font-size: 23px;
  padding: 8px;
  border: none;
  cursor: pointer;
  background: none;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}

.contenedor {
  display: flex;
  padding: 15px;
  position: relative;
}

.boton-mute {
  background: none;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}

.volumen {
  margin-right: 20px;
}

.volumen-slider {
  margin-left: 20px;
}

.progress-bar {
  width: 100%;
  background-color: #ffffff;
  height: 5px;
  position: relative;
  cursor: pointer;
}

.progress-line {
  background-color: #fff;
  height: 5px;
  position: absolute;
  top: 0;
  width: 100%;
}

.progress-indicator {
  position: absolute;
  top: -5px;
  transform: translateX(-50%);
  cursor: pointer;
}

.progress-circle {
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
