.reproductorMusica  {
    background-color: #008080;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .info-cancion {
    display: flex;
    align-items: center;
  }
  
  .portada-album {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .detalles-musica {
    margin-left: 10px;
  }
  
  .controls {
    display: flex;
  }
  
  .boton-control {
    background: none;
    border: none;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .volumen {
    width: 100px;
    
  }
  
  .volumen-slider {
    width: 100%;
  }
  .control-button:hover {
    color: black; 
  }
  .control-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem; /* Tamaño de los iconos */
    transition: color 0.3s ease; /* Transición suave del color */
  }
  
  .control-button:hover {
    color: #1DB954; /* Color al pasar el cursor */
  }
  