.reproductorMusica {
  background-color: #006666;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 89px;
  width: 100%;  /* Ajustado al 100% para cubrir todo el ancho de la pantalla */
  position: fixed;  /* Hace que el reproductor se fije en la posición */
  bottom: 0;  /* Alinea el reproductor al fondo de la página */
  left: 0;  /* Alinea el reproductor a la izquierda de la página */
  z-index: 1000;  /* Asegura que el reproductor esté encima de otros elementos */
}


  .info-cancion, .detalles-musica{
    display: flex;
    align-items: center;
    margin: 0;
    border: none;
    padding: 0;
  }
  /*
  .portada-album {
    width: 100px;
    height: 50px;
    object-fit: cover;
  }*/
 
  .detalles-musica {
    margin-left: 131px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
.nombre-musica,
.nombre-artista {
  margin: 0 10px;   /* Aumenta el espacio antes y después para compensar la eliminación del guion */
    white-space: nowrap;
    line-height: 1.2;
    font-size: 33px;
}

  .controls {
    display: flex;
    align-items: center; /* Asegúrate de que los controles estén alineados verticalmente */
    justify-content: center; /* Centra los controles horizontalmente */
    margin-top: -35px; /* Ajusta este valor según cuánto quieras mover los controles hacia arriba */
    padding-right: 43.9px;
  }
  
  .boton-control {
    background: none;
    border: none;
    color: #fff;
    margin:  10px;
    cursor: pointer;
     }
  
  .contenedor {
    display: flex;
    align-items: center; 
    padding-right: 100px;
  }

  .boton-mute   {
    background: none;
    border: none;
    color: #fff;
    margin:  -45px;
    cursor: pointer;
  }

  .volumen {
    flex: -1; 
    text-align: right; 
  }
  
  .volumen-slider {
    width: 100%;
    margin-left: 20px;
  }
  .control-button:hover {
    color: black; 
  }
  .control-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem; /* Tamaño de los iconos */
    transition: color 0.3s ease; /* Transición suave del color */
    
  }
   
  

