/* Formulario */
.modal-form {
    width: 100%;
    max-width: 425px;
    height: auto; /* Cambiado a altura automática */
    background: #008080;
    border: 4px solid #000000;
    display: flex;
    flex-direction: column; /* Cambiado a columna para colocar títulos encima de campos */
    align-items: center;
    position: relative;
    margin: auto;
}

/* Contenedor del formulario */
.modal-form .modal-box {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    margin-top: 47px;
    margin-bottom: -15px;
}
.modal-box .inter-modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.input-box {
    position: relative;
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: column; /* Cambiado a columna para colocar título encima del campo */
    align-items: flex-start; /* Alinear elementos a la izquierda */
    margin: 0 auto;
}

.input-box input,
.input-box select {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 12px;
    color: #000000;
    padding: 0 10px;
}

/* Contenedor de campo de entrada */
.input-boxx {
    display: flex;
    flex-direction: column; /* Cambiado a columna para colocar el label debajo */
    

}
.elemento {
    margin-left: 40px;
}

.input-boxx input,
.input-boxx select {
    width: 335px;
    height: 40px; /* Altura del campo de entrada */
    outline: none;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    padding: 0 10px;
    margin-bottom: 5px; /* Espacio entre el campo de entrada y el label */
}

.input-boxx select {
    margin-left: 40px; /* Espacio entre el campo de entrada y el select */
}

/* Estilo para el label */
.input-boxx label {
    font-weight: bold;
    font-size: 16px; /* Tamaño de fuente del label */
    color: #fff;
}


.input-box select {
    font-weight: bold;
}

/* Campos de entrada */
.campo {
    margin-bottom: 4px;
}

.campo-cargar-cancion {
    display: flex;
    flex-direction: column; /* Cambiado a columna para colocar título encima del campo */
    align-items: center; /* Alinear elementos a la izquierda */
    text-align: center;
}

.campo-cargar-cancion .bg-white {
    width: auto;
}

.campo-cargar-cancion .bg-white.active {
    height: fit-content;
    margin-left: 5%;
}

.campo-cargar-cancion .seleccionarArchivo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

/* Estilo de validación */
.input-box .validarNoRequiered.valid,
.input-box .validar:valid {
    border: 5px solid #09AA1A;
}

.input-box .validarNoRequiered.active,
.input-box .validar.active {
    border: 5px solid #FF0000;
}

/* Etiquetas de los campos */
.input-box label {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    font-family: var(--fuente-1);
}

.ventana-informacion {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    top: 110%;
    width: 100%;
    z-index: 1;
    display: none;
}

.ventana-informacion p {
    font-size: 12px;
    color: #ff0000;
}

.ventana-informacion p.active {
    color: #09AA1A;
}

.ojito {
    position: absolute;
    right: 15px;
    bottom: 6px;
    cursor: pointer;
    font-size: 21px;
    border: none;
}

/* Botones del formulario */
.btn-box {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 40px;
}

.btn-box button {
    width: 150px;
    height:  50px;
    background: #FFFFFF;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

/* Botón de subir */
.input-box input .btn-subir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-subir {
    height: 100px;
    width: 50px;
    font-weight: bold;
    background: #fff;
    color: #000000;
    justify-content: center;
}

.nombreArchivo {
    display: none;
    font-size: 16px;
    color: #000000;
}

.btn-box {
    color: #fff;
    align-items: center;
}

#selectList {
    color: #000; /* Cambia el color del texto a negro (o el color que desees) */
}

/* estilos.css */
.custom-link {
    /* Estilos de fondo, color y padding */
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding: 12px 40px;
    text-decoration: none;
    text-align: center; /* Alinea el texto al centro */
}
