/* Formulario */
.form-contend {
    position: fixed;
    z-index: 1;
    width: calc(100% - 250px);
    height: calc(100% - 160px);
}

.modal-form {
    width: 100%;
    max-width: 425px;
    height: auto;
    background: #008080;
    border: 4px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
    z-index: 0;
}

.form-title {
    font-weight: bold;
    font-family: var(--fuente-1);
    font-size: 24px;
    color: #fff;
    margin: 0 10%;
    margin-bottom: 20px;
}

/* Contenedor del formulario */
.modal-form .modal-box {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 10px;
}

.modal-box .inter-modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.input-box {
    position: relative;
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.input-box input,
.input-box select {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 12px;
    color: #000000;
    padding: 0 10px;
}

.input-box select {
    font-weight: bold;
}

/* Campos de entrada */
.campo {
    margin-bottom: 4px;
}

.campo-cargar-cancion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.campo-cargar-cancion .bg-white {
    width: auto;
}

.campo-cargar-cancion .bg-white.active {
    height: fit-content;
    margin-left: 5%;
}

.campo-cargar-cancion .seleccionarArchivo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

/* Estilo de validación */
.input-box .validarNoRequiered.valid,
.input-box .validar:valid {
    border: 5px solid #09AA1A;
}

.input-box .validarNoRequiered.active,
.input-box .validar.active {
    border: 5px solid #FF0000;
}

/* Etiquetas de los campos */
.input-box label {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    font-family: var(--fuente-1);
}

.ventana-informacion {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    top: 110%;
    width: 100%;
    z-index: 1;
    display: none;
}

.ventana-informacion p {
    font-size: 12px;
    color: #ff0000;
}

.ventana-informacion p.active {
    color: #09AA1A;
}

.ojito {
    position: absolute;
    right: 15px;
    bottom: 6px;
    cursor: pointer;
    font-size: 21px;
    border: none;
}

/* Botones del formulario */
.btn-box {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 40px;
}

.custom-link,
.btn-box button {
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.custom-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón de subir */
.input-box input .btn-subir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-subir {
    height: 100px;
    width: 50px;
    font-weight: bold;
    background: #fff;
    color: #000000;
    justify-content: center;
}

.nombreArchivo {
    display: none;
    font-size: 16px;
    color: #000000;
}

.btn-box {
    color: #fff;
    align-items: center;
}

#selectList {
    color: #000;
}