
/* Estilos para el contenedor de la imagen */
.contenedor-imagen {
  position: relative;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
    height: 100%; /* Asegúrate de que el contenedor ocupe toda la altura visible de la ventana */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
.contenedor-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-registro {
  background-color: #006666;
  color: #fff; /* Cambia el color del texto del botón según tus preferencias */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-registro:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

.boton-iniciarsesion {
  background-color: #006666;
  color: #fff; /* Cambia el color del texto del botón según tus preferencias */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 22px;
  transition: background-color 0.3s;
}

.boton-iniciarsesion:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}