
.albumes-list {
  position: relative;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr)); /* Ancho flexible */
  gap: 2em;
  grid-auto-rows: minmax(150px);
  height: 100%;
  width: 100%;
}

.albumes-details {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.albumes-item {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.albumes-logo {
  display: block;
}

.albumes-title {
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  align-items: center;
  text-align: justify;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el contenido que desborda el contenedor */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto desborda */
  word-wrap: break-word; /* Permite dividir palabras largas en varias líneas */
  max-width: 100%;
}

.artistas-name {
  padding: 7px;
  position: relative;
  top: 0px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);
}

.albumes-songs {
  padding: 7px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);
}

.albumes-image {
  width: 120px;
  height: 120px;
  border: 5px solid white; 
}

@media screen and (max-width: 1280px) {
  .albumes-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .albumes-list {
    grid-template-columns: repeat(1, 1fr);
  }

  
}
@media screen and (max-width: 768px) {
  .albumes-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
