
.general-config{
  position: absolute;
}

.album-config{
  padding-top: 100px;
  position: relative;
  display: flex;
  right: 175px; 
  bottom: 350px;
}

.song-config {
  position: relative;
  right: 175px;
  bottom: 350px;
}

.album-info {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: column; /* Cambia de "row" a "column" */
}

.album-config{
  position: relative;
  display: flex; 
}

.album-details{
  position: relative;
  top: 35px;
}

/* .song-list {
  padding: 2px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  max-width: 1000px;
  margin: 50px 0 0 200px;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: row; 
} */

.song-list {
  position: relative;
  left: 120px;
}

.album-item {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  padding-top: 5%;
}

.album-list {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 50px 0 0 200px;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: row; 
}

.album-item {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.album-logo {
  margin-right: 25px; 
}

.album-title {
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);
}

.album-title2 {
  position: relative;
  left: 10px;
  bottom: 35px;
  padding: 10px;

  font-weight: bold;
  font-size: 50px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);

}

.artist-name {
  position: relative;
  left: 15px;
  bottom: 50px;
  padding: 7px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);
}
.album-songs {
  position: relative;
  left: 15px;
  bottom: 50px;
  padding: 7px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);
}

.song-title {
  padding: 7px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}

.album-image {
  position: relative;
  width: 120px;
  height: 120px;
  border: 5px solid white; /* Borde blanco de 2px alrededor de la imagen */
  /* Otros estilos según sea necesario */
}

.album-image2 {
  position: relative;
  width: 40px;
  height: 40px;
  border: 3px solid white; /* Borde blanco de 2px alrededor de la imagen */
  /* Otros estilos según sea necesario */
}

.album-logo {
  width: 40px;
  height: 40px;
  /* Otros estilos según sea necesario */
}

/*alineamiento del boton de play*/
.play-logo {
  position: relative;
  right: 0 px;
  width: 40px;
  height: 40px;
  /* Otros estilos según sea necesario */
}

/*alineamiento de tiempo de duracion*/
.duracion-logo {
  position: relative;
  right: 20px;
  width: 40px;
  height: 25px;
  color: #FFFFFF;
  font-weight: bold;
}

/*alineamiento de titulo de cancion*/
.titulo-cancion-logo {
  position: relative;
  width: 550px;
  height: 40px;
  font-family: var(--fuente-1);
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: justify;
  /* Otros estilos según sea necesario */
}

.song-container {
  display: flex;
  align-items: center;
  overflow-x: hidden; /* Para habilitar el desplazamiento horizontal si es necesario */
  white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: color 2s;
}

.song-details {
  display: flex;
  align-items: center;
}

.song-container:hover div{   
  color:white;
  cursor:pointer;
  background-color: #008080;
}

.album-portada {
  position: relative;
  top: 30px;
  width: 120px;
  height: 120px;
  border: 5px solid white; /* Borde blanco de 2px alrededor de la imagen */
  /* Otros estilos según sea necesario */
}