.albumes-list {
  position: relative;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 2em;
  height: fit-content;
  width: auto;
  margin: 2em;
}

.albumes-details {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.albumes-item {
  display: flex;
  flex-direction: row; 
  align-items: center;
  border: 2px solid #008080;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.albumes-logo {
  display: block;
}

.albumes-title {
  padding: 0 10px;
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  align-items: center;
  text-align: justify;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el contenido que desborda el contenedor */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto desborda */
  word-wrap: break-word; /* Permite dividir palabras largas en varias líneas */
  max-width: 100%;
}

.artistas-name {
  padding: 7px;
  position: relative;
  top: 0px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);
}

.albumes-songs {
  padding: 7px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);
}

.albumes-image {
  width: 100px;
  height: 100px;
  border: 5px solid white; 
}
