
.albumes-list {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  max-width: 1000px;
  margin: 50px 0 0 200px;
  grid-auto-rows: minmax(150px, 180px); 
}


.albumes-details {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.albumes-item {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.albumes-logo {
  display: block;
  padding: 100px;
}

.albumes-title {
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);
}

.artistas-name {
  padding: 7px;
  position: relative;
  top: 0px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);
}

.albumes-songs {
  padding: 7px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-1);
}

.albumes-image {
  width: 120px;
  height: 120px;
  border: 5px solid white; 
}

@media screen and (max-width: 1280px) {
  .albumes-list {
    grid-template-columns: repeat(2, 1fr); 
    margin: 50px 0 50px 200px;
  }
}

@media screen and (max-width: 1000px) {
  .albumes-list {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0 50px 200px; 
  }

  
}
@media screen and (max-width: 768px) {
  .albumes-list {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0 50px 0; 
  }
}