.modal-crear-lista {    
    width: 600px;
    height: 760px;
    background: #008080;
    border: 4px solid #000000;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

.modal-crear-lista .modal-box {
    position: relative;
    width: 70%;
    height: 80%;
    margin: 0 auto;
}

.modal-box .inter-modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.campo .input-box {
    margin-bottom: 80px;
    position: relative;
    width: 100%;
    height: 50px;
}

.input-box input,
.input-box select {
    width: 80%;
    height: 100%;
    outline: none;
    font-size: 24px;
    color: #000000;
    padding: 0 10%;
}

.input-box select {
    width: 100%;
    font-size: 32px;
}

.input-box .validar:valid{
    border: 5px solid #09AA1A;
}

.input-box .validar.active {
    border: 5px solid #FF0000;
}

.input-box label {
    font-weight: bold;
    font-size: 32px;
    color: #fff;
    font-family: var(--fuente-1);
}

.btn-box {
    display: flex;
    justify-content: space-between;
}

.btn-box button {
    width: 150px;
    height: 60px;
    background: #FFFFFF;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.input-box input .btn-subir {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.btn-subir {
    font-weight: bold;
    color: #000000;
    justify-content: center;
}