.album2-list {
  padding: 20px;
  border-radius: 10px;
  display:block;
  gap: 20px;
  max-width: 1000px;
  margin: 0 0 0 0;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: row; 
}

.album2-item {
  display:flex;
  flex-direction: row; 
  align-items:end;
}

.album2-logo {
  margin-right: 25px; 
}

.album2-title {
  padding: 10px;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}

.song-list {
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 1px;
  max-width: 1000px;
  margin: 50px 0 0 1px;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: row; 
}

.song-item {
  display:flex;
  flex-direction: row; 
  align-items: center; 
}

.song-logo {
  margin-right: 10px; 
}

.song-title {
  padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}

.artist-name {
  padding: 7px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}
.album2-songs {
  padding: 7px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);

    
}