.album2-list {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 50px 0 0 200px;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: row; 
}

.song-list {
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 50px 0 0 200px;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: row; 
}

.album-item {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.album-list {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 50px 0 0 200px;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: row; 
}

.album-list {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 50px 0 0 200px;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: row; 
}

.album-item {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.album-logo {
  margin-right: 25px; 
}

.album-title {
  padding: 10px;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}

.artist-name {
  padding: 7px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}
.album-songs {
  padding: 7px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);


}