/* Variables */
:root {
  --fuente-principal: var(--fuente-1);
  --color-texto-principal: #FFFFFF;
  --borde-album: 5px solid white;
}

.general-config {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-config{
  position: relative;
  display: flex;
  margin: 40px;
}

.song-config {
  position: relative;
}

.album-info {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  gap: 20px;
  max-width: 1000px;
  margin: 0;
  grid-template-rows: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: column;
}

.album-details {
  position: relative;
  top: 32px;
}

.album-details > * {
  margin-bottom: -8px;
}
.album-list {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  gap: 20px;
  max-width: 1000px;
  margin: 50px 0 0 200px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: row;
}

.album-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.album-logo,
.album-image2 {
  width: 40px;
  height: 40px;
  border: 3px solid white;
}

.album-image,
.album-portada {
  position: relative;
  width: 120px;
  height: 120px;
  border: var(--borde-album);
}

.album-title,
.album-title2,
.artist-name,
.album-songs,
.song-title {
  padding: 7px;
  font-weight: bold;
  color: var(--color-texto-principal);
  display: flex;
  align-items: center;
  text-align: justify;
  font-family: var(--fuente-principal);
}

.album-title {
  font-size: 25px;
}

.album-title2 {
  position: relative;
  left: 10px;
  bottom: 35px;
  font-size: 40px;
}

.artist-name,
.album-songs {
  position: relative;
  left: 15px;
  bottom: 50px;
  font-size: 16px;
}

/* Estilos de canciones */
.song-config {
  position: relative;
}

.song-list {
  position: relative;
  left: 120px;
}

.song-container {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: default;
  transition: color 2s;
  justify-content: space-between; 
}

.play-logo:hover {   
  color: var(--color-texto-principal);
  cursor: pointer;
  background-color: #008080;
}

.song-details {
  display: flex;
  align-items: center;
  flex-grow: 1; 
}

.play-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  position: absolute;
  left: 635px;
  border-radius:50%;
}

.duracion-logo {
  width: 40px;
  height: 45px; 
  color: var(--color-texto-principal);
  font-weight: bold;
  margin-left: 10px;
  position: absolute;
  left: 550px;
}

.titulo-cancion-logo {
  width: 550px; 
  height: 50px;
  font-family: var(--fuente-principal);
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  color: var(--color-texto-principal);
  display: flex;
  align-items: center;
  text-align: justify;
}

.list-add-icon {
  cursor: pointer;
  padding: 3px;
  border: none;
  margin-left: 10px; 
  font-size: 50px; 
  color: #fff; 
  margin-right: 10px;
  position: absolute;
  left: 677px;
  border-radius:50%;
}

.list-add-icon:hover {
  background-color: #008080;
}