.album-info {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: column; /* Cambia de "row" a "column" */
}


/* .song-list {
  padding: 2px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  max-width: 1000px;
  margin: 50px 0 0 200px;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: row; 
} */

.album-item {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.album-list {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 50px 0 0 200px;
  grid-auto-rows: minmax(100px, auto); 
  grid-auto-flow: row; 
}

.album-item {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.album-logo {
  margin-right: 25px; 
}

.album-title {
  padding: 10px;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}

.album-title2 {
  padding: 10px;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}

.artist-name {
  padding: 7px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}
.album-songs {
  padding: 7px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}

.song-title {
  padding: 7px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--fuente-1);
}

.album-image {
  width: 40px;
  height: 40px;
  border: 3px solid white; /* Borde blanco de 2px alrededor de la imagen */
  /* Otros estilos según sea necesario */
}

.album-logo {
  width: 40px;
  height: 40px;
  /* Otros estilos según sea necesario */
}

.song-container {
  display: flex;
  align-items: center;
  gap: 60px;
  overflow-x: auto; /* Para habilitar el desplazamiento horizontal si es necesario */
  white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
}

.song-details {
  display: flex;
  align-items: center;
}