/* MENU */
.menu {
  
  height: 86.2%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #006666;
  border: 5px solid #000000;
  overflow-y: auto;
  margin: flex;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu .profile .logo {
  margin: 20px 0;
  text-align: center;
  
}

.menu .menu-items .item a {
  display: flex; /* Mostrar elementos en línea */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  text-align: left; /* Alineación de texto a la izquierda */
  font-family: var(--fuente-1);
}

.menu .menu-items .item a .icon {
  width: 25px; /* Ancho fijo para los iconos */
  margin-right: 10px;
}

.menu .menu-items .item.separador {
  height: 5px;
  border-bottom: solid 5px #000000;
  margin: 10px 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .menu {
    display: none; /* Ocultar el menú en pantallas más pequeñas */
  }
}