.contendor-perfil-usuario {
    position: relative;
    font-family: 'roboto', sans-serif;
    color: #f0f0f0;
    width: 100%;
}

.user-profile-container {
    display: flex;
    align-items: center; 
    background-color: #008080;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.user-profile-column {
    padding: 1%;    
    flex: 0 0 ; /* Establece el ancho fijo de la columna del perfil */
}

.user-info-row {
    flex: 1; 
}

.user-profile-alias {
    align-items: center;
    font-size: 35px;
    display: flex;
}

.contenedor-alias {
    width: 300px;
    font-weight: bold;
}

.contenedor-editar {
    align-items: center;
    height: fit-content;
    border: 3px solid #f0f0f0;
    font-size: 16px;
    border-color: white;
    display: flex;
}

.contenedor-listas-user {
    align-items: center;
    width: 100%;
}

.contenedor-listas-user-1 {
    padding: 1em 2em 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
